@import "../../assets/fonts/font.scss";

.mainMenu{
  background-position: right;
  height: 100vh;
  background-size: cover;
  font-family: "Trajan Pro";
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #ffffff;

  .mainMenuAnim{
    animation: background 0.35s;
  }

  @keyframes background {
    0%{padding-top: 0px;}
    50%{padding-bottom: 50%;}
    100%{padding-bottom: 150%;}
  }

  .blur{
    background: rgba(40, 40, 40, 0.2);
    backdrop-filter: blur(2px);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mainMenu li{
    cursor: pointer;
    padding-bottom: 25px;

  }

  .menuElem{
    padding-bottom: 25px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.95);
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.6);
  }

  .menuElem img{
    display: none;
  }

  .menuElem.active img{
    display: inline-block;
    width: 14px;
    animation: move 1.5s infinite;
  }

  @keyframes move {
    0%{ padding: 0 10px}
    10%{ padding: 0 9px}
    20%{ padding: 0 8px}
    30%{ padding: 0 7px}
    40%{ padding: 0 6px}
    50%{ padding: 0 5px}
    60%{ padding: 0 6px}
    70%{padding: 0 7px}
    80%{ padding: 0 8px}
    90%{ padding: 0 9px}
    100%{padding: 0 10px}
  }

  .active{
    background-repeat: no-repeat;
    background-size: 10px;
  }
}

